.lines{
    margin: 0.25rem;
}

.para-head{
    margin: 0.25rem;
}

.para{
    margin-top: 0.25rem;
    margin-bottom: 1.855rem;
}

#title{
    font-size: 300%;
    font-weight: lighter;
    margin-top: 6%;;
}


#left-part{
    width: 47%;
    padding:7% 0% 7% 0%;
    position: relative;
    float: left;
}

#imghtml{
    width: 70%;
    height: 70%;
    margin-left: 10%;
}

#right-part{
    position: relative;
    width: 38%;
    padding-right: 11%;
    padding-left: 2%;
    right: 0;
    float: right; 
    
}


.lilbit-bigger{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.tag-highlighted{
    background-color: #f0f0f0;
}


#p-left{
    text-align: left;
}

#p-justify{
    text-align: justify;
}

#p-right{
    text-align: right;
    padding-left: 28%;
}

#red-text{
    color: rgb(218, 9, 9);
}

/* responsive part - changes the view then screen size is less than 800px */

@media screen and (max-width: 800px){      
    #left-part, #right-part {
        position: relative;
        padding-right: 4%;
        padding-left: 2%;
        width: 90%;
        margin: auto;
        float: none;    
    }

    #imghtml{
        padding-left: 5%;
    }
}


