
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header{
    /* min-height: 100vh; */
    height: 10vh;
    width: 100%;
    background-color: #4E598C;
    background-position: center;
    background-size: cover;
    position: sticky;
}

#satha{
    position: relative;
    background-color: #fff;
}

#charith{
    position: absolute;
}

#neeth{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 90vh;
}

#thisura{
    display: block;
    text-align:center;
    position: absolute;
    float: left;
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width : 10vh;
    height : 10vh;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display : inline-block;
    padding: 16px 24px;
    position: relative;
    color: #ffffff
}

nav-links ul li:hover {
    background:#ffffff;
    color: #000000;
  }

.nav-links ul li a{
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content:"";
    width :0%;
    height : 2px;
    background : #DDDDDD;
    display:block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0.5;
    
}
.nav-links ul li:hover::after{
    width : 100%;
    opacity: 1.0;
}

.image {
    height: 50vh;
    width: 50%;
    background-color: rgb(221, 162, 36);
    display:flex
}


