* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    /* min-height: 100vh; */
    height: 10vh;
    width: 100%;
    background-color: #4E598C;
    background-position: center;
    background-size: cover;
    position: sticky;
}

#satha {
    position: relative;
    background-color: #fff;
}

#charith {
    position: relative;
    margin-top: 200px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 10vh;
    height: 10vh;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 16px 24px;
    position: relative;
    color: #ffffff
}

nav-links ul li:hover {
    background: #ffffff;
    color: #000000;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #DDDDDD;
    display: block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0.5;

}

.nav-links ul li:hover::after {
    width: 100%;
    opacity: 1.0;
}

.image {
    height: 50vh;
    width: 50%;
    background-color: rgb(221, 162, 36);
    display: flex
}

@media screen and (max-width: 800px) {

    .header,
    table1 {
        position: relative;
        width: auto;
        margin: auto;
        padding: auto;

    }

    #hometext {
        font-size: 14px;
    }
}