mark {
    background-color: #f2f2f2;
    color: black;
}

#center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#table1 {
    border-collapse: collapse;
    width: 70%;
    box-shadow: -1px 2px 5px;
    margin-left: auto;
    margin-right: auto;
}

#table1 td,
#table1 th {
    border: 1px solid #ddd;
    padding: 10px;
}

#table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table1 tr:hover {
    background-color: #ddd
}

#table1 th {
    text-align: left;
    background-color: #002672;
    color: white;
}