#username{
width:200px;
height:20px;

}		
#mail{
width:200px;
height:20px;
}	
	
.register{
	font:Comic Sans;
	color:black;
	font-family :Optima;
	font-size : 20px;
	text-align:left;
}


.checked {
  color: orange;
}

.html{
text-align:center;
}

#comment{
width:200px;
height:250px;
}

#submitbutton{
background-color:orange;
}
